<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
    text="text/css"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
     integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
     crossorigin="anonymous">
     <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>About</title>
</head>
<body>

  <div class="pageheader">
    <h2>Batch Processing</h2>
  </div>

    <div class="container" >
        <nav class="nav nav-pills nav-justified">
            <a class="nav-item nav-link"  href="./index.html">Home</a>
            <a class="nav-item nav-link" href="./howto.html">How To </a>
            <a class="nav-item nav-link active" >About</a>
        </nav>
<hr/>
        <div id= "inside">
            <p>
              <strong>Project Description</strong>
              <ul>
                <li>
                  Generating a GUI interface to the generation of Gantt Chart schedules in Batch Process Optimisation from GAMS/CPLEX deterministic solvers.
                </li>
                <li>
                  This is a software design project for 3rd year Computer Science Students at the University of the Witwatersrand.
                  Monitored by Dr. Matthew Woolway.
                </li>
              </ul>
            </p>
  <footer>
    <p align ="right">Copyright &copy 2018</p>
    <p align ="right">University of the Witwatersrand, Johannesburg</p>
  </footer>
        </div>
    </div>
</body>
</html>
